{% extends "user_app_auth/base.html" %}
{% block body_block %}

<div class="container-fluid bg-dark text-light p-5">
    <h1>Please login</h1>
    <form action="{% url 'user_app_auth:user_login' %}" method="post">
        {%  csrf_token  %}
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Enter username">

        <label for="password">password</label>
        <input type="password" name="password">

        <input type="submit" name="" value="Login">
    </form>
</div>

{% endblock %}